

.blog-post .featured-image img {
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); }

.blog-post .featured-image--link:before, .blog-post .featured-image--link:after {
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1); }


.blog-post {
  margin-bottom: 50px; }
  .blog-post .featured-image {
    margin-bottom: 24px;
    overflow: hidden;
    position: relative;
    height: 0;
    padding-bottom: var(--ratio-percent); }
    .blog-post .featured-image--link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .js .animations-true .blog-post .featured-image--link {
        opacity: 0;
        transform: scale(1.15); }
      .blog-post .featured-image--link:before, .blog-post .featured-image--link:after {
        content: '';
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;
        opacity: 0;
        pointer-events: none; }
      .blog-post .featured-image--link:before {
        background: rgba(var(--color-overlay-rgb), 0.7); }
      .blog-post .featured-image--link:after {
        content: attr(data-first);
        font-size: 11.25rem;
        z-index: 11;
        text-transform: uppercase;
        color: var(--bg-body);
        transform: scale(0.9);
        font-weight: var(--font-body-medium-weight, 500);
        transform-origin: center;
        transition-delay: 0.1s; }
        @media only screen and (min-width: 768px) {
          .blog-post .featured-image--link:after {
            font-size: 15rem; } }
        @media only screen and (max-width: 767px) {
          .small-up-2 .blog-post .featured-image--link:after {
            font-size: 7.5rem; } }
      .blog-post .featured-image--link img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
      .blog-post .featured-image--link .thb-placeholder {
        width: 100%;
        height: 100%; }
      .blog-post .featured-image--link:hover:after, .blog-post .featured-image--link:hover:before, .blog-post .featured-image--link:focus:after, .blog-post .featured-image--link:focus:before {
        opacity: 1;
        transform: scale(1); }
    .blog-post .featured-image img {
      display: block;
      will-change: scale; }
  .blog-post:hover .featured-image > a:after, .blog-post:hover .featured-image > a:before {
    opacity: 1;
    transform: scale(1); }
  .blog-post h5 {
    margin-bottom: 10px; }
  .blog-post .post-meta {
    font-size: 0.6875rem;
    text-transform: uppercase;
    color: var(--color-body);
    opacity: 0.7;
    letter-spacing: 0.1em;
    margin-bottom: 12px; }
  .blog-post .post-excerpt {
    font-size: 0.9375rem; }

@media only screen and (max-width: 767px) {
  .blog-posts.swipe-on-mobile .row {
    display: grid;
    grid-gap: 10px;
    grid-auto-flow: column;
    grid-auto-columns: minmax(75vw, 1fr);
    overflow-x: auto;
    grid-template-columns: repeat(auto-fill, minmax(75vw, 1fr));
    width: calc(100% + 30px);
    padding: 0 15px;
    margin-left: -15px;
    scroll-snap-type: x mandatory;
    scrollbar-width: none; }
    .blog-posts.swipe-on-mobile .row::-webkit-scrollbar {
      display: none; }
    .blog-posts.swipe-on-mobile .row .columns {
      scroll-snap-align: start;
      scroll-margin: 15px;
      scroll-snap-stop: always;
      padding: 0; } }
