


.template-header {
  text-align: center;
  position: relative; }
  .template-header--has-padding-true {
    padding-top: calc(var(--header-height, 86px) + 20px); }
  .template-header--title {
    margin-bottom: 10px;
    font-weight: 600;
   }
    .template-header--title:only-child {
      margin-bottom: 0; }
    .template-header--title-uppercase-true {
      text-transform: uppercase; }
  .template-header--content {
    width: 100%;
    margin: 0 auto;
    z-index: 5;
    position: relative;
    padding: 5px 0; }
    @media only screen and (min-width: 1068px) {
      .template-header--content {
        padding: 5px 0; } }
    .template-header--content > *:last-child {
      margin-bottom: 0; }
  .template-header--image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover; }
  .template-header--description {
    font-size: 0.7rem;
    margin-bottom: 18px; }
    @media only screen and (min-width: 768px) {
      .template-header--description {
        font-size: .9rem; } }
  .template-header > *:last-child {
    margin-bottom: 0; }
  .template-header .searchform {
    max-width: 440px;
    margin: 25px auto 15px; }
    .template-header .searchform + .template-header--description {
      font-size: 0.8125rem; }
  .template-header--subcollections .text-button {
    margin: 0 9px; }
  .template-header--light {
    color: #fff; }
    .template-header--light h1 {
      color: inherit; }
  .template-header--has-image-true {
    margin-bottom: 30px; }
